main {
  display: flex;
  margin-top: 10px;
}

.hit-title {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

main h4 {
  font-size: 1em;
  color: #222;
  margin-top: 4px;
  margin-bottom: 4px;
  line-height: 1.5;
}
